
main {
    width: 40%;
    margin-left: 5em;
    margin-top: 5em;

};

div {
    margin-left: 4em;
};

Link {
    margin-right: 4em;
    margin-left: 4em;

};

body, html {
    height: 100%;
    margin: 0;
  }


  